.center{
    width: 100%;
    min-height: 100vh;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20%;
}
.navbar{
    background: #102542!important;
}